@model ContentIndexModel

@section Admin
{
    @if (@User.Identity.IsAuthenticated)
    {
        <div class="admin-action">
            <a
                asp-action="Add"
                asp-controller="Content">
                Add content
            </a>
        </div>
        @if (Model.IsIndexed)
        {
            <div class="admin-action">
                <a
                    asp-action="Index"
                    asp-controller="Content"
                    asp-route-indexed="false">
                    View unindexed content
                </a>
            </div>
        }
        else
        {
            <div class="admin-action">
                <a
                    asp-action="Index"
                    asp-controller="Content">
                    View indexed content
                </a>
            </div>
        }
    }
}

<div class="container">
    <ul class="content-index">
        @foreach (var content in Model.SearchResponse.Items)
        {
            <li class="content-index-item">
                <h1>
                    <a
                        asp-action="Detail"
                        asp-controller="Content"
                        asp-route-path="@content.Path">
                        @(content.Name ?? $"[Content {content.Id}]")
                    </a>
                </h1>
                <time>
                    @content.PublishedDateTime.GetValueOrDefault().ToString("yyyy-MM-dd")
                </time>
                @Html.Raw(Markdown.ToHtml(content.Summary))
                <a
                    asp-action="Detail"
                    asp-controller="Content"
                    asp-route-path="@content.Path">
                    Would you like to know more?
                </a>
            </li>
        }
    </ul>
</div>

<div class="container">
    <ul class="pager">
        @if (Model.SearchResponse.Skip > 0)
        {
            <li>
                <a
                    asp-action="Index"
                    asp-controller="Content">
                    &lt;&lt;
                </a>
            </li>
            <li>
                <a
                    asp-action="Index"
                    asp-controller="Content"
                    asp-route-skip="@(Model.SearchResponse.Skip - Model.SearchResponse.Take)">
                    &lt;
                </a>
            </li>
        }
        @if (Model.SearchResponse.TotalCount >
            Model.SearchResponse.Skip + Model.SearchResponse.Take)
        {
            <li>
                <a
                    asp-action="Index"
                    asp-controller="Content"
                    asp-route-skip="@(Model.SearchResponse.Skip + Model.SearchResponse.Take)">
                    &gt;
                </a>
            </li>
            <li>
                <a
                    asp-action="Index"
                    asp-controller="Content"
                    asp-route-skip="@(Math.Floor(
                        (double)Model.SearchResponse.TotalCount / Model.SearchResponse.Take) *
                        Model.SearchResponse.Take)">
                    &gt;&gt;
                </a>
            </li>
        }
    </ul>
</div>