<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta content="@(ViewBag.Description ?? "I like to drink beer when I'm playing video games and when I'm not playing video games.")" name="description">
        <meta content="#171714" name="theme-color">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>null-d3v</title>

        <link href="~/img/192.png" rel="icon" type="image/png">
        <link href="~/img/180.png" rel="apple-touch-icon" type="image/png">
        <link href="~/img/32.ico" rel="shortcut icon" type="image/x-icon">

        <environment include="Development">
            <link as="style" href="~/css/site.css" rel="preload">
            <link as="script" href="~/js/site.js" rel="preload">
        </environment>
        <environment exclude="Development">
            <link as="style" asp-append-version="true" href="~/css/site.min.css" rel="preload">
            <link as="script" asp-append-version="true" href="~/js/site.min.js" rel="preload">
        </environment>

        <environment include="Development">
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link asp-append-version="true" href="~/css/site.min.css" rel="stylesheet" />
        </environment>
    </head>
    <body>
        @await Html.PartialAsync("_Header")

        <main id="content">
            @if (@User.Identity.IsAuthenticated)
            {
                <fieldset class="admin">
                    <legend>Admin</legend>
                    <div>
                        @User.Claims.FirstOrDefault(
                            claim => claim.Type == ClaimTypes.Email)?.Value
                    </div>
                    <div class="admin-action">
                        <a
                            asp-action="Logout"
                            asp-controller="Auth">
                            Log out
                        </a>
                    </div>
                    @RenderSection("Admin", required: false)
                </fieldset>
            }
            else
            {
                @RenderSection("Admin", required: false)
            }
            @RenderBody()
        </main>

        <footer id="footer"></footer>

        <environment include="Development">
            <script defer src="~/js/site.js"></script>
        </environment>
        <environment exclude="Development">
            <script asp-append-version="true" defer src="~/js/site.min.js"></script>
        </environment>
        @RenderSection("Scripts", required: false)
    </body>
</html>