@model SearchResponse<Content>

@section Admin
{
    @if (@User.Identity.IsAuthenticated)
    {
        <div class="admin-action">
            <a
                asp-action="Add"
                asp-controller="Content">
                Add content
            </a>
        </div>
    }
}

<div class="container">
    <ul class="content-index">
        @foreach (var content in Model.Items)
        {
            <li class="content-index-item">
                <h1>
                    <a
                        asp-action="Detail"
                        asp-controller="Content"
                        asp-route-path="@content.Path">
                        @content.Name
                    </a>
                </h1>
                <time>
                    @content.PublishedDateTime.GetValueOrDefault().ToString("yyyy-MM-dd")
                </time>
                @Html.Raw(Markdown.ToHtml(content.Summary))
                <a
                    asp-action="Detail"
                    asp-controller="Content"
                    asp-route-path="@content.Path">
                    Would you like to know more?
                </a>
            </li>
        }
    </ul>
</div>

<div class="container">
    <ul class="pager">
        @if (Model.PageIndex > 0)
        {
            <li>
                <a
                    asp-action="Index"
                    asp-controller="Content">
                    &lt;&lt;
                </a>
            </li>
            <li>
                <a
                    asp-action="Index"
                    asp-controller="Content"
                    asp-route-page="@(Model.PageIndex - 1)">
                    &lt;
                </a>
            </li>
        }
        @if ((Model.PageIndex + 1) * Model.PageSize < Model.TotalCount)
        {
            <li>
                <a
                    asp-action="Index"
                    asp-controller="Content"
                    asp-route-page="@(Model.PageIndex + 1)">
                    &gt;
                </a>
            </li>
            <li>
                <a
                    asp-action="Index"
                    asp-controller="Content"
                    asp-route-page="@(Math.Ceiling((double)Model.TotalCount / Model.PageSize) - 1)">
                    &gt;&gt;
                </a>
            </li>
        }
    </ul>
</div>